[package]
name = "app"
version = "0.0.1"
edition = "2021"
rust-version = "1.71"

[build-dependencies]
tauri-build = { version = "2", features = [] }

[dependencies]
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
tauri = { version = "2", features = [] }
